.root {
    -fx-font-family: Junicode;
    -fx-font-size: 20px;
    -fx-background-color: #FFE8D6;
}

.title {
    -fx-font-size: 50px;
}

.sub-title {
    -fx-font-size: 30px;
}

.bold {
    -fx-font-weight: bold;
}

.bordered-box {
    -fx-border-width: 2px;
    -fx-border-color: black;
}

.padded-medium {
    -fx-border-insets: 5px;
    -fx-padding: 5px;
    -fx-background-insets: 5px;
}

.padded-light {
    -fx-border-insets: 2px;
    -fx-padding: 2px;
    -fx-background-insets: 2px;
}

.button, .combo-box {
    -fx-border-color: black;
    -fx-background-color: #E2CCBF;
}

.button:disabled, .combo-box:disabled, .editable-label:disabled {
    -fx-background-color: #C8C1BC;
}

.button:hover, .combo-box:hover, .editable-label:hover {
    -fx-background-color: #B7B7A4;
    -fx-cursor: hand;
}

.button:pressed, .combo-box:pressed, .editable-label:pressed {
    -fx-background-color: #A5A58D;
}

.editable-label {
    -fx-padding: 5px;
    -fx-border-style: dotted;
}

.round-button {
    -fx-background-radius: 50%;
    -fx-border-radius: 50%;
}

.check-box .box {
    -fx-border-color: black;
    -fx-background-color: #E2CCBF;
    -fx-padding: 3px;
}

.check-box .mark {
    -fx-padding: 6px;
}

.check-box:hover, .combo-box .list-cell:hover {
    -fx-cursor: hand;
}

.unit-info-element {
    -fx-background-color: #DDBEA9;
}

.army-info-element {
    -fx-background-color: #CB997E;
}

.scroll-pane {
    -fx-background-color: transparent;
}

.scroll-pane > .viewport {
    -fx-background-color: transparent;
}